<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="insaBean" class="pkg.Insa">
        <property name="name" value="홍길동"/>
        <property name="tel" value="01044494369"/>
        <property name="id" value="12"/>
    </bean>
<!--    <bean id="insaBean" class="pkg.Insa" p:name="홍길동">-->

<!--    </bean>-->
</beans>